
{% load static %}

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/output.css" %}">
  </head>
  <body class="bg-stone-200 p-4">
    <div class="max-w-[1400px] m-auto">

    <header>
        <nav>
            <div class="lg:flex md:flex p-4 justify-between items-center bg-blue-900 text-white rounded-md">
              <div class="lg:flex lg:items-center">
                <img width="300px" src="{% static "images/nav_logo.png" %}" alt="">
                <div class="flex lg:mt-0 sm:mt-4 w-full">
                    <a href="#" class="rounded-lg p-2 bg-blue-700 px-3 hover:bg-blue-600">Home</a>
                    <a href="{% url 'organizer_dashboard' %}?type=todays_events" class="rounded-lg p-2 ml-5 bg-blue-700 px-3 hover:bg-blue-600">Todays Events</a>
                    <a href="{% url "create_event" %}" class="rounded-lg p-2 ml-5 bg-blue-700 px-3 hover:bg-blue-600">Create Event</a>
                </div>
              </div>
              <div class="mr-4 xs:border">
                <form action="" method="">
                  <input type="text" class="rounded-lg p-2 text-black bg-gray-200 lg:w-auto sm:w-full w-full focus:border-gray-500 focus:outline focus:outline-gray-500 placeholder:italic" placeholder="Search">
                  <button type="submit" class="rounded-lg p-2 lg:ml-3 bg-blue-700 px-3 lg:w-auto lg:mt-auto sm:w-full sm:mt-2 w-full hover:bg-blue-600">Search</button>
                </form>
              </div>
            </div>
        </nav>
    </header>

    {% block for_main %}
    
    {% endblock for_main %}


    </div>
  </body>
</html>
