{% extends "dashboard/nav.html" %}

{% block for_main %}
{% load static %}
<main>
        <!-- Stats Grid -->
        <div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 mt-10 mb-10">

          <!-- Participant -->
            <div class="box bg-white h-48 rounded-md shadow-xl flex ">
              <div class="p-5 h-45 w-4/5 flex flex-col justify-between">
                <h1 class="font-medium text-2xl text-gray-500">Total Participant</h1>
                <h1 class="text-5xl font-semibold"> {{ counts.total_participant }} </h1>
                <a href="{% url "participants_details" %}" class="ring-2 border py-1 px-3 rounded-lg bg-blue-600 text-white hover:bg-blue-300 hover:text-black hover:font-bold"> Manage Participants </a>
              </div>
              <div class="h-45 w-1/5 flex justify-center items-center mr-3">
                <div class="for_icon_1 w-14 h-14 flex justify-center items-center rounded-full text-blue-600 bg-blue-100 hover:text-blue-100 hover:bg-blue-600 ">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                  </svg>

                </div>
              </div>
            </div>

          <!-- Events -->
          <a href="{% url 'organizer_dashboard' %}?type=all">
            <div class="box bg-white h-48 rounded-md shadow-xl flex">
              <div class="p-5 h-45 w-4/5 flex flex-col justify-between hover:bg-gray-100">
                <h1 class="font-medium text-2xl text-gray-500">Total Events</h1>
                <h1 class="text-5xl font-semibold">{{ counts.total_event }}</h1>
                <h1 class="text-gray-500">.</h1>
              </div>
              <div class="h-45 w-1/5 flex justify-center items-center mr-3">
                <div class="for_icon_2 w-14 h-14 flex justify-center items-center rounded-full text-green-600 bg-green-100 hover:text-green-100 hover:bg-green-600">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                  </svg>

                </div>
              </div>
            </div>
          </a>

          <!-- upcoming events -->
          <a href="{% url 'organizer_dashboard' %}?type=upcoming_events">
            <div class="box bg-white h-48 rounded-md shadow-xl flex ">
              <div class="p-5 h-45 w-4/5 flex flex-col justify-between hover:bg-gray-100">
                <h1 class="font-medium text-2xl text-gray-500">Upcoming Events</h1>
                <h1 class="text-5xl font-semibold"> {{ counts.upcoming_events }} </h1>
                <h1 class="text-gray-500">.</h1>
              </div>
              <div class="h-45 w-1/5 flex justify-center items-center mr-3">
                <div class="for_icon_1 w-14 h-14 flex justify-center items-center rounded-full text-fuchsia-600 bg-fuchsia-100 hover:text-fuchsia-100 hover:bg-fuchsia-600">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.8" stroke="currentColor" class="size-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
                  </svg>
                </div>
              </div>
            </div>
          </a>

          <!-- Past events -->
          <a href="{% url 'organizer_dashboard' %}?type=past_events">
            <div class="box bg-white h-48 rounded-md shadow-xl flex lg:col-start-2 md-col-start-2 xl:col-start-4">
              <div class="p-5 h-45 w-4/5 flex flex-col justify-between hover:bg-gray-100">
                <h1 class="font-medium text-2xl text-gray-500">Past Events</h1>
                <h1 class="text-5xl font-semibold"> {{ counts.past_events }} </h1>
                <h1 class="text-gray-500">.</h1>
              </div>
              <div class="h-45 w-1/5 flex justify-center items-center mr-3">
                <div class="for_icon_1 w-14 h-14 flex justify-center items-center rounded-full text-orange-600 bg-orange-100 hover:text-orange-100 hover:bg-orange-600">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.8" stroke="currentColor" class="size-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>
                </div>
              </div>
            </div>
          </a>

        </div>
        <!-- Stats Grid End -->

        {% if events %}
          <h1 class="font-bold text-5xl mr-4"> {{ event_name }} </h1>
        {% else %}
          <h1 class="font-bold text-5xl mr-4"> {{ event_name }} : {{ category_events.category_name }} </h1>
        {% endif %}

        <div class="my-20 sm:my-10 sm:flex justify-between h-20">
          <div class="flex items-center">
            <form method="GET">
              <label for="tt" class="font-semibold py-4">Category</label>
              <div class="h-10 flex items-center">
                <select name="category_selector" id="tt" class="h-full bg-slate-300 p-2 rounded-md">
                  {% for category in categories %}
                    <option value="{{category.id}}">{{ category.category_name }}</option>
                  {% endfor %}
                </select>
                <button type="submit" class="mr-2 h-full bg-slate-500 p-2 mx-3 rounded-md text-white">Filter</button>
                <a href="{% url "category_details" %}" class="mr-2 h-full bg-blue-500 p-2 mx-3 rounded-md text-white">Edit Categories</a>
              </div>
            </form>
          </div>

          <div class="flex items-center">
            <form method="GET">
              <input type="date" name="st_date" class="h-full bg-slate-300 p-2 rounded-md" required> 
              <input type="date" name="ed_date" class="h-full bg-slate-300 p-2 rounded-md" required> 
              <button type="submit" class="mr-2 h-full bg-slate-500 p-2 rounded-md text-white">Filter</button>
            </form>
          </div>
        </div>

        <!-- Events Listing -->

         {% if messages %}
          {% for message in messages %}
            <div class="mb-3 p-3 text-center rounded-lg font-bold border w-full text-white {% if 'success' in message.tags %} bg-green-700{% endif %}"> {{ message }} </div>
          {% endfor %}
        {% endif %}


         {% if events %}
          <div class="grid md:grid-cols-1 lg:grid-cols-2 grid-cols-1 gap-4">
            {% for event in events %}
            
              <div class="box bg-white h-45 rounded-md shadow-xl sm:flex">
                <div class="p-5 h-48 sm:w-2/5 rounded-lg" style="background-image: url('{% static 'images/music-event.png' %}'); background-size: cover; background-repeat: no-repeat;">
                  {% comment %} image {% endcomment %}
                </div>
                <div class="h-45 sm:w-3/5 mr-3 py-2 px-5 flex flex-col justify-between">
                  <p class="font-semibold text-2xl">Title: {{ event.event_name }} </p>
                  <p>Category: {{ event.category.category_name }} </p>
                  <p>To be held: {{ event.date }} at {{ event.time }} </p>
                  <p>Participant: {{ event.participants.all.count }} </p>
                  <a href="{% url "details" %}?dtl={{event.id}}" class="w-full my-1">
                    <div class="h-10 flex items-center justify-center text-white bg-blue-700 hover:bg-blue-600 rounded-lg">
                      Book Now & Details
                    </div>
                  </a>
                  <div class="sm:flex xl:flex-row lg:flex-col gap-2">
                    <a href="{% url 'update_event' event.id %}" class="xl:w-3/5 lg:w-full md:w-3/5">
                      <div class="h-10 flex items-center justify-center rounded-lg bg-green-700 hover:bg-green-500 text-white">
                        Edit
                      </div>
                    </a>
                    <div class="xl:w-2/5 lg:w-full md:w-2/5">
                      <form action="{% url 'delete_event' event.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="w-full h-10 flex items-center justify-center  text-white bg-red-700 hover:bg-red-500 rounded-lg">
                          Delete
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

            {% endfor %}
          </div>
         {% else %}
          <div class="grid md:grid-cols-1 lg:grid-cols-2 grid-cols-1 gap-4">
            {% for event in category_events %}
              
              <div class="box bg-white h-45 rounded-md shadow-xl sm:flex">
                <div class="p-5 h-48 sm:w-2/5 rounded-lg" style="background-image: url('{% static 'images/music-event.png' %}'); background-size: cover; background-repeat: no-repeat;">
                  {% comment %} image {% endcomment %}
                </div>
                <div class="h-45 sm:w-3/5 mr-3 py-2 px-5 flex flex-col justify-between">
                  <p class="font-semibold text-2xl">Title: {{ event.event_name }} </p>
                  <p>Category: {{ event.category.category_name }} </p>
                  <p>To be held: {{ event.date }} at {{ event.time }} </p>
                  <p>Participant: {{ event.participants.all.count }} </p>
                  <a href="{% url "details" %}?dtl={{event.id}}" class="w-full my-1">
                    <div class="h-10 flex items-center justify-center text-white bg-blue-700 hover:bg-blue-600 rounded-lg">
                      Book Now & Details
                    </div>
                  </a>
                  <div class="sm:flex xl:flex-row lg:flex-col gap-2">
                    <a href="{% url "update_event" event.id %}" class="xl:w-3/5 lg:w-full md:w-3/5">
                      <div class="h-10 flex items-center justify-center rounded-lg bg-green-700 hover:bg-green-500 text-white">
                        Edit
                      </div>
                    </a>
                    <div class="xl:w-2/5 lg:w-full md:w-2/5">
                      <form action="{% url 'delete_event' event.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="w-full h-10 flex items-center justify-center  text-white bg-red-700 hover:bg-red-500 rounded-lg">
                          Delete
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

            {% endfor %}
          </div>
         {% endif %}
        <!-- Events Listing End -->

    </main>

{% endblock for_main %}