{% extends "core_base.html" %}

{% block core_content %}


<div class="mt-10 b_shadow rounded-lg w-3/4 m-auto">
    <div class="">
        <img class="w-full rounded-lg" src="{{event.event_image.url}}" alt=""> 
        <div class=" lg:ml-3 w-full mt-10">
            <div class="p-2">
                <h1 class="font-semibold text-3xl">Title: <span>{{event.event_name}}</span></h1>
                <h5 class="my-1 text-lg">Category: <span>{{event.category.category_name}}</span></h5>
                <h5 class="my-1 text-lg">To be held: {{ event.date }} at {{ event.time }}</h5>
                <h5 class="my-1 text-lg">Location: {{event.location}}</h5>
                <h5 class="my-1 text-lg">Participant: {{ event.participant.all.count }}</h5>
                <p class="my-1"> <span class="text-lg">Description: </span> {{event.description}}</p>

                <div class="mt-10">
                    {% if not is_rsvp %}
                        <form action="{% url "rsvp" event.id %}" class="flex flex-col sm:flex-row gap-2">
                            <button type="submit" class="in_shadow w-1/2 py-3 px-1 font-semibold rounded-lg hover:h_shadow transition duration-300">RSVP</button>
                        </form>
                    {% else %}
                        <div class="h_shadow w-1/2 py-3 px-1 font-extrabold text-white rounded-lg bg-red-500 text-center mb-10"> Your RSVP already completed </div>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock core_content %}