
{% extends "base.html" %}

{% block organizer_content %}

<div class="flex items-center justify-center mb-10">
  <div class=" w-2/3 p-5 rounded-xl mt-5 shadow-lg bg-slate-300">
    {% if messages %}
      {% for message in messages %}
        <div class="p-3 text-center rounded-lg font-bold border w-full text-white {% if 'success' in message.tags %} bg-green-700{% endif %} {% if 'error' in message.tags %}bg-red-800{% endif %}"> {{ message }} </div>
      {% endfor %}
    {% endif %}
    <form method="POST" enctype="multipart/form-data">

      {% csrf_token %}

      {{ event_form.as_p }}
      <hr class="my-5">
      {% comment %} {{ category_form.as_p }} {% endcomment %}

      <label for="">Select Category</label>
      <select name="" id="" class="block in_shadow focus:in_shadow p-2 my-4 border rounded-lg focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500" onclick="set_category_name(this)">
        {% for category in categories %}
          <option value="{{category.category_name}}" >{{category.category_name}}</option>
        {% endfor %}
      </select>

      {% if category_form.non_field_error %}
        {% for error in category_form.non_field_error %}
          {{error}}
        {% endfor %}
      {% endif %}

      {% for field in category_form %}
        <label for="">{{field.label}}</label>
        {{field}}         {% comment %}       id_category_name {% endcomment %}

        {% if field.error %}
          {% for error in field.error %}
            {{error}}
          {% endfor %}
        {% endif %}
      {% endfor %}

      <button type="submit" class="bg-blue-900 p-3 w-full rounded-lg text-white font-bold">Submit</button>
    </form>
  </div>
</div>

{% endblock organizer_content %}
