
{% load static %}


        <nav class="p-2 shadow md:flex md:items-center md:justify-between bg-blue-900">
          <div class="flex justify-between items-center">
            <span>
              <img class="w-[200px] cursor-pointer" src="{% static "images/nav_logo_mini.png" %}" alt="">
            </span>

            <span id="menu-toggle" class="md:hidden cursor-pointer" onclick="toggle_menu(this)">
              <svg id="menu-icon" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                  class="size-8 text-white">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
            </span>

          </div>

            <ul id="navMenu" class="md:flex md:items-center z-50 md:z-auto md:static absolute bg-blue-900 w-full left-0 md:w-auto py-4 pl-3 md:py-0 md:pl-0 opacity-0 md:opacity-100 top-[-400px] transition-all ease-in duration-500">
              <li class="mx-4 my-6 md:my-0"><a class="text-xl text-white hover:underline cursor-pointer" href="#">About US</a></li>
              <li class="mx-4 my-6 md:my-0"><a class="text-xl text-white hover:underline cursor-pointer" href="#">Contact US</a></li>

              <a href="{% url "sign-in" %}" class="mx-4 px-5 py-2 bg-sky-700 text-white duration-500 hover:bg-sky-600 rounded-lg">
                Sign In
              </a>
              <a href="{% url "sign-up" %}" class="mx-4 px-5 py-2 bg-sky-700 text-white duration-500 hover:bg-sky-600 rounded-lg">
                Sign Up
              </a>
            </ul>
        </nav>

